.dialogForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  margin: var(--spacing-4) 0;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
}

.required {
  color: var(--error);
}